body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
    text-align: center;
}

.welcome-container, .form-container {
    background-color: white;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%; /* Increase the width to 95% */
    max-width: 1000px; /* Increase the max-width to 800px */
}

.italic-centered {
    text-align: center;
    font-style: italic;
}

.wedding-photo {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

.wedding-place {
    max-width: 75%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

/* .wedding-place {
    max-width: 50%;
    height: auto;
    border-radius: 10px;
} */

h1, h2 {
    color: #333;
}

.dropdown, .submit-btn {
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.submit-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.submit-btn:hover {
    opacity: 0.8;
}

.error-container {
    text-align: center;
    padding: 50px;
}
