body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
    text-align: center;
}

.welcome-container, .form-container {
    background-color: white;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%; /* Increase the width to 95% */
    max-width: 1000px; /* Increase the max-width to 800px */
}

.italic-centered {
    text-align: center;
    font-style: oblique;
    font-family: "Times New Roman", Times, serif;
}

.wedding-photo {
    max-width: 100%;
    /* height: auto; */
    border-radius: 20px;
    margin-bottom: 20px;
    margin-left: -10px;
    margin-right: auto;
    /* width: 100%; */
    /* height: auto; */
    box-shadow: 0 0 10px rgba(191, 97, 196, 0.604);
    /* border: 10px solid #ccc; */
}

.wedding-place {
    max-width: 75%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

/* .wedding-place {
    max-width: 50%;
    height: auto;
    border-radius: 10px;
} */

h1, h2 {
    color: #333;
}

.dropdown, .submit-btn {
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 20px;
    padding: 5px;
    margin-top: 10px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
}

.submit-btn {
    background-color: #c780c9;
    color: white;
    border: none;
    cursor: pointer;
    /* make bigger */
    font-size: 30px;
    padding: 10px;
    margin-top: 20px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 50px;
    /* border: 5px solid #000000; */
}

.text-field {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.submit-btn:hover {
    opacity: 0.8;
}

.error-container {
    text-align: center;
    padding: 50px;
}
