<!DOCTYPE html>
<html>
<head>
    <title>Confirmation of the form</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div>
        <h1>Thank you for the answer, {{ guest_name }}!</h1>
        <p>We look forward to meeting you/you on this special day 💍</p>
        <h2>ℹ️ Wedding details</h2>
        <img src="PUT A IMAGE OF YOURS HERE" alt="Wedding Place Photo" class="wedding-place">
        <p><strong>📍Location:</strong> New York, Hotel Korona</p>
        <p><strong>🕟Time:</strong> 16:00</p>
        <a href="/">Back to home page 🔙</a>
    </div>
</body>
</html>
