<!DOCTYPE html>
<html>
<head>
    <title>RSVP Confirmation</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="confirmation-container">
        <h1>Thank You for Your Answer, {{ guest_name }}!</h1>
        <p>We are eagerly waiting for you to join us on our special day.</p>
        <h2>Wedding Details</h2>
        <img src="https://github.com/turhancan97/turhancan97/assets/22428774/24b7f042-a0e9-4e1f-a432-7e93f2fce878" alt="Wedding Place Photo" class="wedding-place">
        <p><strong>Location:</strong> Rybnik, Korona Hotel</p>
        <p><strong>Time:</strong> 16:00</p>
        <a href="/">Return Home</a>
    </div>
</body>
</html>
