<!DOCTYPE html>
<html>
<head>
    <title>Potwierdzenie formularza</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div>
        <h1>Dziękuję za odpowiedź, {{ guest_name }}!</h1>
        <p>Nie możemy się doczekać, kiedy dołączysz do nas w tym wyjątkowym dniu 💍</p>
        <h2>ℹ️ Szczegóły ślubu</h2>
        <img src="https://github.com/turhancan97/turhancan97/assets/22428774/84b1382b-c94c-4054-b50a-c50f0e51c0b6" alt="Wedding Place Photo" class="wedding-place">
        <p><strong>📍Lokalizacja:</strong> Rybnik, Restauracja Hotel Korona</p>
        <p><strong>🕟 Godzina:</strong> 16:00</p>
        <a href="/">Powrót na stronę główną 🔙</a>
    </div>
</body>
</html>
