<!DOCTYPE html>
<html>
<head>
    <title>Wedding invitation 💚</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div>
        <h2>Wedding invitation 📩</h2>
        <!-- Insert the image above the attendance field -->
        <img src="PUT A IMAGE OF YOURS HERE" alt="Wedding Invitation Photo" class="wedding-photo">
        <h3>We have a short message for you:</h3>
        <div class="italic-centered">
            <p>Dear Guests,</p>
            <p>Soon a new stage begins in our lives,<br>
            YOU CAN WRITE HERE<br>
            SOME NICE WORDS FOR THE GUESTS</p>
        
            <p>ANOTHER PARAGRAPH<br>
            TO WRITE SOMETHING</p>
        </div>        
        <h2>{{ guest_name }}, will you be at our wedding? 👰‍♀️🤵🏽</h2>
        <form method="POST">
            <input type="hidden" name="{{ name_field }}" value="{{ guest_name }}">
            <select name="{{ attendance_field }}" class="dropdown">
                <option value="Yes">Yes, of course I will (we will) be at the wedding! 💃🕺🏼</option>
                <option value="No">No, unfortunately I (we) won't be able to attend 😿</option>
            </select>
            <h3>❗If you want to tell us something important (such as a food allergy, the presence of a companion or any message), please write it here.</h3>
            <input type="text" name="{{ other_field }}" class="text-field">
            <button type="submit" class="submit-btn">💫Submit💫</button>
        </form>
    </div>
</body>
</html>
