<!DOCTYPE html>
<html>
<head>
    <title>Wesele Eweliny i Turhana</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="welcome-container">
        <h1>Witamy serdecznie na stronie internetowej naszego wesela! 🎉</h1>
        <img src="https://github.com/turhancan97/turhancan97/assets/22428774/ce25c6de-133f-489b-b407-b86ae72fff19" alt="Our Wedding Photo" class="wedding-photo">
        <p>Uzyskaj dostęp do swojego zaproszenia pod podanym adresem URL 🌐</p>
    </div>
</body>
</html>