<!DOCTYPE html>
<html>
<head>
    <title>Our Wedding</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="welcome-container">
        <h1>Welcome to Our Wedding Website Home Page!</h1>
        <img src="https://github.com/turhancan97/turhancan97/assets/22428774/5d837228-da3f-4f87-9f22-419786a05368" alt="Our Wedding Photo" class="wedding-photo">
        <p>Please access your invitation by the provided URL.</p>
    </div>
</body>
</html>