<!DOCTYPE html>
<html>
<head>
    <title>Our Wedding</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="welcome-container">
        <img src="https://github.com/turhancan97/RL-based-Control-of-a-Soft-Continuum-Robot/assets/22428774/097a128b-a24a-49a4-845d-5259601b242a" alt="Our Wedding Photo" class="wedding-photo">
        <h1>Welcome to Our Wedding Website Home Page!</h1>
        <p>Please access your invitation by the provided URL.</p>
    </div>
</body>
</html>